<body background="https://i.pinimg.com/originals/b0/a3/fd/b0a3fdeb45dbc8577af81172f0d757b4.jpg">

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white ">BIENVENIDOS</h1>
    <p style="color:white" > Aprender acerca <a href="https://docs.microsoft.com/aspnet/core">  crear aplicaciones web con ASP.NET Core</a>.</p>
    <p><h3 style="color:white"> Este es mi sistema en el cual podran apreciar los datos de personas que ingresemos,dependiendo el usuario,y estos se registraran en una tabla </h3></p>
</div>
    </body>
