@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tienes acceso a este recurso.</p>
    
            
         <img src="https://png.pngtree.com/png-vector/20190115/ourlarge/pngtree-vector-lock-icon-png-image_316863.jpg" alt="200" width="200"> 
       

        </header >
